@import "src/variables.scss";

.display-none {
  display: none;
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-shadow;

  &__modal-content {
    text-align: center;
    background: $white;
    padding: 3rem;
    border-radius: 5px;
    min-width: 35rem;
    max-width: 40rem;
    max-height: 80%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }
}

@media only screen and (max-width: $sm) {
  .modal-background__modal-content {
    min-width: 20rem;
    max-width: 20rem;
  }
}
