@import "src/variables.scss";

.characteristic {
  padding: 0 1rem 1rem 1rem;
  border: 1px solid $off-white;
  box-shadow: 0 1px 4px 2px $grey-shadow;
  margin-bottom: 1rem;

  &__dropdown-button {
    border: none;
    background: none;
    padding-top: 1rem;
    margin-left: 0.25rem;
    width: 100%;
    cursor: pointer;

    &__title-wrapper {
      display: flex;
      justify-content: space-between;
      color: $grey;

      &__title {
        display: inline-block;
        margin: 0;
        font-size: 1.2rem;
      }

      &__icon {
        margin: 0;
      }
    }
  }

  &__list {
    text-align: left;
    padding-left: 1.5rem;
  }
}
