@import "src/variables.scss";

.button-wrapper {
  margin: 1.8rem 0;
  text-align: center;

  &__button {
    padding: 1rem 1.25rem;
    border: 0;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 100px;
    box-shadow: 0 0 20px 5px $primary-shadow;
    background: $primary;
    color: $white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover:not([disabled]) {
      background: $primary-light;
      transition: all 0.2s ease-in-out;
    }

    &:disabled {
      background: $disabled-bg;
      color: $disabled;
      cursor: not-allowed;
    }
  }

  &__btn:focus {
    outline: 0;
  }
}
