@import "src/variables.scss";

.poke-details {
  width: 80%;

  &__play-button {
    border: 0;
    border-radius: 15px;
    padding: 0;
    background: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &__image {
      max-height: 15rem;
    }

    &:hover {
      background-color: $primary-shadow;
      transition: all 0.2s ease-in-out;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__title {
    margin-top: 0.5rem;
  }

  &__property-name {
    display: inline-block;
    font-weight: $font-medium;
    margin-bottom: 1rem;
  }

  &__measurements {
    display: flex;
    justify-content: space-evenly;
  }

  &:after {
    content: "";
    display: block;
    height: 1rem;
    width: 100%;
  }
}
