@import "src/variables.scss";

.poke-details {
  &__play-button {
    border: 0;
    border-radius: 15px;
    padding: 0;
    background: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &__image {
      max-height: 15rem;
    }

    &:hover {
      background-color: $primary-shadow;
      transition: all 0.2s ease-in-out;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__property-name {
    font-weight: $font-medium;
  }
}
