@import "src/variables.scss";

.characteristics-list-container {
  padding: 1rem;
  margin-bottom: 2rem;
  border: 0.1rem solid $off-white;
  box-shadow: 0 1px 4px 2px $grey-shadow;

  &__list {
    text-align: left;
  }
}
