@import "src/variables.scss";

.poke-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  background-color: $primary;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover {
    background-color: $primary-light;
    transform: translateY(-0.5rem);
  }

  &__spinner {
    color: $white;
    margin: 0;
  }

  &__image {
    width: 80%;
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__id {
    margin-top: 0.5rem;
  }
}
