@import "src/variables.scss";

body {
  font-family: $font-family-base;
  font-weight: $font-normal;
  color: $grey;
  margin: 0;
}

h1,
.centred {
  text-align: center;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

@media (max-width: $sm) {
  h1 {
    font-size: 1.5rem;
  }
}
