/* Screen Breakpoints */
$sm: 745px;
$md: 1024px;
$lg: 1600px;

/* Colours */
$primary: #28569e;
$primary-light: #1086d5;
$primary-shadow: rgba(32, 156, 238, 0.15);

$white: #ffffff;
$grey: #444444;
$disabled: #f8f8f8;
$disabled-bg: #eaeaea;

/* Fonts */
$font-family-base: "Ubuntu", sans-serif;
$font-normal: 300;
