/* Screen Breakpoints */
$sm: 745px;
$md: 1024px;
$lg: 1565px;

/* Colours */
$primary: #28569e;
$primary-light: #1086d5;
$primary-shadow: rgba(32, 156, 238, 0.15);

$white: #ffffff;
$off-white: #eaeaea;
$grey: #444444;
$black: #000000;
$grey-shadow: rgba(0, 0, 0, 0.08);

$disabled: #f8f8f8;
$table-borders: #c2d3ef;

/* Fonts */
$font-family-base: "Ubuntu", sans-serif;
$font-normal: 300;
$font-medium: 400;
